body {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-width: 0px;
	background-color: #eeeeee;
	font-family:trebuchet MS, Lucida Sans Unicode, Lucida Sans, Sans-Serif;
}

textarea {
	height: 50px;
	width: 412px;
	max-width: 412px;
	max-height: 50px;
}

div#login {
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    margin-top: 100px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 550px;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    background-color: #c3baf8;   
}

div#login .userpass {
	width: 200px;
	height: 20px;
}

div#login .signinbutton {
	width: 80px;
	height: 24px;
}

div#login label {
	font-size: 14px;
	color: gray;
}

div#login .heading {
	color: #717283;
  	font-weight:bold;
  	font-size:16px;
  	margin-left: 5px;
}

div#login .help {
	margin-top: 10px;
	color: gray;
  	font-size:10px;
  	margin-left: 5px;
}

div.header1 {
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 600px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 7px 7px 3px #888;
    -webkit-box-shadow: 7px 7px 3px #888;
    box-shadow: 7px 7px 3px #888;
    background-color: #gray;   
}

div.header2 {
	margin-left: auto;
    margin-right: auto;
    height: 110px;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 600px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 7px 7px 3px #888;
    -webkit-box-shadow: 7px 7px 3px #888;
    box-shadow: 7px 7px 3px #888;
    background-color: #gray;   
}

.panellisting {
    float:left; 
    width:585px; 
    padding:3px;
    margin-bottom: 3px;
}

.followlisting {
    float:left; 
    width:200px; 
    padding:3px;
    margin-bottom: 3px;
}

div#headerleft {
	float: left;
	text-align: center;
	width: 130px;
	margin: 0px;
	height: 130px;
}

div#headerleft2 {
	float: left;
	text-align: center;
	width: 130px;
	margin: 0px;
	height: 130px;
}

div#headerleft .username {
	font-size: 14px;
}

div#headerleft2 .username {
	font-size: 14px;
}

div#headerright {
	float: right;
	width: 430px;
	margin-right: 10px;
	height: 150px;
}

div#headerright2 {
	float: right;
	width: 430px;
	margin-right: 10px;
	height: 130px;
}

.divider {
	height: 17px;
	margin-left: 3px;
	margin-right: 3px;
}

div#headerright a, div#headerright a:visited {
  font-size: 12px;	
  color: #000000;
  text-decoration: none;
}

div#headerright a:hover {
  font-size: 12px;
  color: #465fbd;
}

div#headerright2 a, div#headerright2 a:visited {
  font-size: 12px;	
  color: #000000;
  text-decoration: none;
}

div#headerright2 a:hover {
  font-size: 12px;
  color: #465fbd;
}

.linkspanel {
	float: right;
	margin-right: 10px;
}

.linkspanel2 {
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	width: 430px;
}

.homebutton {
	float: right;
}

img.avatar {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: 1px solid black;
}

div#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 7px 7px 3px #888;
    -webkit-box-shadow: 7px 7px 3px #888;
    box-shadow: 7px 7px 3px #888;
    background-color: #gray;   
}

.paginator {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.followlisting {
	width: 250px;
	
}

/* #RichFaces redefined skins */

div.rf-p-hdr {
	background-color:gray;
	color:blue;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding-top:0px;
    padding-bottom: 0px;
}

div.rf-p {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

span.rf-ds {
	color: blue;
	margin-left: auto;
	margin-right: auto;
}
