body {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border-width: 0px;
	background-color: #eeeeee;
	font-family:trebuchet MS, Lucida Sans Unicode, Lucida Sans, Sans-Serif;
}

textarea {
	height: 50px;
	width: 412px;
	max-width: 412px;
	max-height: 50px;
}

div#login {
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    margin-top: 100px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 550px;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    background-color: #dde9f4; 
    /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edebfb), to(#c5dcf1));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #c5dcf1, #edebfb);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #c5dcf1, #edebfb);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #c5dcf1, #edebfb);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #c5dcf1, #edebfb);  
}

div#login .userpass {
	width: 200px;
	height: 20px;
}

div#login .signinbutton {
	width: 80px;
	height: 24px;
}

div#login label {
	font-size: 14px;
	color: gray;
}

div#login .heading {
	color: #717283;
  	font-weight:bold;
  	font-size:16px;
  	margin-left: 5px;
}

div#login .help {
	margin-top: 10px;
	color: gray;
  	font-size:10px;
  	margin-left: 5px;
}

div.headerinput {
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 600px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 7px 7px 3px #888;
    -webkit-box-shadow: 7px 7px 3px #888;
    box-shadow: 7px 7px 3px #888;
    background-color: #1a82f7;
  	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaec), to(#dde9f4));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #dde9f4, #eaeaec);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #dde9f4, #eaeaec);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #dde9f4, #eaeaec);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #dde9f4, #eaeaec);
}

div.headerdetails {
	margin-left: auto;
    margin-right: auto;
    height: 110px;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 600px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 7px 7px 3px #888;
    -webkit-box-shadow: 7px 7px 3px #888;
    box-shadow: 7px 7px 3px #888;
    background-color: #1a82f7;
  	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeaec), to(#dde9f4));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #dde9f4, #eaeaec);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #dde9f4, #eaeaec);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #dde9f4, #eaeaec);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #dde9f4, #eaeaec);  
}

.panellisting {
    float:left; 
    width:510px; 
    padding:3px;
    margin-bottom: 3px;
}

.followlisting {
    float:left; 
    width:200px; 
    padding:3px;
    margin-bottom: 3px;
}

div#headerinputleft {
	float: left;
	text-align: center;
	width: 130px;
	margin: 0px;
	height: 130px;
}

div#headerdetailsleft {
	float: left;
	text-align: center;
	width: 130px;
	margin: 0px;
	height: 130px;
}

div#headerinputleft .username {
	font-size: 14px;
}

div#headerdetailsleft .username {
	font-size: 14px;
}

div#headerinputright {
	float: right;
	width: 430px;
	margin-right: 10px;
	height: 150px;
}

div#headerdetailsright {
	float: right;
	width: 430px;
	margin-right: 10px;
	height: 130px;
}

.divider {
	height: 19px;
	margin-left: 3px;
	margin-right: 3px;
}

div#headerinputright a, div#headerinputright a:visited {
  font-size: 12px;	
  color: #000000;
  text-decoration: none;
}

div#headerinputright a:hover {
  font-size: 12px;
  color: #465fbd;
}

div#headerdetailsright a, div#headerdetailsright a:visited {
  font-size: 12px;	
  color: #000000;
  text-decoration: none;
}

div#headerdetailsright a:hover {
  font-size: 12px;
  color: #465fbd;
}

div#headerinputright .linkspanel {
	float: right;
	margin-right: 10px;
	width: 422px;
	text-align: left;
}

div#headerdetailsright .linkspanel {
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	width: 430px;
}

.homebutton {
	float: right;
}

.timeofpost {
	float: right;
}

.watch {
	float: right;
}

.tweetlistheader {
	width: 580px;
	margin-left: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 18px;
	color: blue;
}

.tweetheader {
	width: 490px;
}

.loginwarning {
	color: red;
	font-size: 12px;
	margin-left: 2px;
	margin-top: 4px;
}

img.avatar {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: 1px solid black;
	height: 110px;
	width: 110px;
}

img.avatarsmall {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

img.avatarsmaller {
	border: 1px solid black;
	height: 30px;
	width: 30px;
}

div#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 600px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 7px 7px 3px #888;
    -webkit-box-shadow: 7px 7px 3px #888;
    box-shadow: 7px 7px 3px #888;
    background-color: #eaeaec;   
}

.paginator {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.followlisting {
	width: 250px;
	
}

.tweetarea {
	width:585px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #dde9f4;
    border: 1px solid #9280ff;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
}

.watcharea {
	width:240px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #dde9f4;
    border: 1px solid #9280ff;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0	px;
    margin-bottom: 3px;
}

.watchpanel {
	width: 240px;
}

/* RichFaces redefined skins */

div.rf-p-hdr {
	margin-left: 3px;
	background-color:gray;
	color:blue;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding-top:0px;
    padding-bottom: 0px;
    background-color: #1a82f7;
  	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edebfb), to(#b4a8fd));
  	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(top, #b4a8fd, #edebfb);
  	/* Firefox 3.6+ */
  	background: -moz-linear-gradient(top, #b4a8fd, #edebfb);
  	/* IE 10 */
  	background: -ms-linear-gradient(top, #b4a8fd, #edebfb);
  	/* Opera 11.10+ */
  	background: -o-linear-gradient(top, #b4a8fd, #edebfb); 
}

div.rf-p {
	margin-left: 3px;
    background-color: #dde9f4;
    margin: 0px;
    width: 515px;
    border: 0px;
}

span.rf-ds {
	color: blue;
	margin-left: auto;
	margin-right: auto;
}
